{erl_opts, [
   {i, "include"},
   no_debug_info,
   deterministic,
   warn_export_vars,
   warn_shadow_vars,
   warn_obsolete_guard,
   warn_untyped_record
]}.

{deps, [
   {eNet, ".*", {git, "https://github.com/ErlGameWorld/eNet.git", {branch, "master"}}}
]}.

{shell, [
   % {config, "config/sys.config"},
   {apps, [eWSrv]}
]}.
