{erl_opts, [
   {i, "include"},
   no_debug_info,
   deterministic,
   warn_export_vars,
   warn_shadow_vars,
   warn_obsolete_guard,
   warn_untyped_record
]}.

{deps, [
   {eNet, ".*", {git, "https://github.com/ErlGameWorld/eNet.git", {ref, "2c380efba6fa5fa00fcfb8232f7e6fd602213ba7"}}},
   {cowlib, ".*", {git, "https://github.com/ninenines/cowlib.git", {ref, "c768a804565ff5b8178ed968a5921e469d6bd7b2"}}}
]}.

{shell, [
   % {config, "config/sys.config"},
   {apps, [eWSrv]}
]}.
%% == Escript Configuration ==
{escript_main_app, eWSrv}.
{escript_name, "eWSrv"}.
{escript_incl_apps, [eWSrv, eNet]}.
{escript_emu_args, "%%! +sbtu +A0 -detached\n"}.
