{erl_opts, [
   {i, "include"}
   , no_debug_info
   , deterministic
   , warn_export_vars
   , warn_shadow_vars
   , warn_obsolete_guard
   , warn_untyped_record
]}.

{deps, [
   {eNet, ".*", {git, "http://sismaker.duckdns.org:3000/SisMaker/eNet.git", {branch, "master"}}}
]}.

{shell, [
   % {config, "config/sys.config"},
   {apps, [eWSrv]}
]}.

{eunit_opts, [verbose]}.

{profiles, [
   {test, [
      {erl_opts, [debug_info, {i, "include"}]},
      {extra_src_dirs, [{"test", [{recursive, true}]}]}
   ]}
]}.

%% == Escript Configuration ==
{escript_main_app, eWSrv}.
{escript_name, "eWSrv"}.
{escript_incl_apps, [eWSrv, eNet]}.
{escript_emu_args, "%%! +sbtu +A0 -detached\n"}.
